@use '../../app/_css/queries.scss' as *;

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutSubContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    
    @include mid-break{
        flex-wrap: wrap;
        
    }
}

.aboutHeading{
    color: var(--perennialGreen-color);
    text-transform: uppercase;


     @include mid-break{
        text-align: center;
    }
}

.aboutParagraph{
    margin-left: 10rem;
    
    @include mid-break{
        text-align: center;   
        margin-left: 0rem; 
    }
}


/* Container for the entire layout */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 568px;
    max-height: fit-content;

    @include mid-break{
        flex-direction: column-reverse;  
        gap: 2rem;
    }
  }
  
  /* Container for the statistics cards */
  .subContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: fit-content;
    flex: 1 1 0%;
    gap: 3rem;
    margin-right: 16rem;
    // align-content: space-between;
    

    @include mid-break{
        width: 100%;
        margin-right: 0;
    }
  }
  
  /* Individual statistics cards */
  .subCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 
    0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 300px;
    height: 200px;

    @include mid-break{
        align-items: center;
    }
  }
  
  /* Headings for the statistics */
  .subCardHeading {
    font-family: 'Spectral', serif;
    color: #333;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
  }

  .subCard__customers{
     h3{
        color: var(--perennialGreen-color);
     }

     p{
        color: var(--citadel-color);
     }
  }

  .subCard__experience{
    background-color: var(--perennialGreen-color);

    h3,p{
        color: var(--ivory-color);
    }
  }
